body {
    font-family: 'Lato';
}

.avatar
{
    border-radius:50%;
}

.rotateDownIn
{
    transform: rotate(90deg);
    transition-duration: 0.2s;
}

.rotateDownOut
{
    transform: rotate(0deg);
    transition-duration: 0.3s;
}

.isBlocked
{
    background-color: lightgrey;
}
